<form action="/fmru" method="post">  
	
   
  <h1>PROTOCOLO DE URORESONANCIA FUNCIONAL </h1> 	
  <div class="container-fluid">
  	<div class="row-fluid"> </br>
  		<div class="span4">
			</br></br></br>
  			<div class="well"> 
  				<div class="row">
  				  <div class="span3 offset1">Edad:</div>
  				  <div class="span3"><input placeholder="Años"type="number" name="edad" 					class="input-mini" min="0"> </div>
  				</div>
				
  				<div class="row">
  				  <div class="span3 offset1">Peso:</div>
  				  <div class="span3"><input placeholder="kilogramos" type="number" name="peso" 					class="input-mini" min="0"></div>
			 	 </div>
				 
				 <button type="submit" class="btn btn-primary">Calcular</button>
		    
  		     </div>  
  	     </div>
	     
  	     <div class="span4">
  		     <div class="well">
  			      
  			     &nbsp&nbsp&nbsp&nbsp&nbsp<h3> </h3>			     
			     
  		     </br></br></br></br></br></br></br></br></br></br>
			     
			     
			     
  		     </div>
	    
  	    </div>
       </div>
  </div>

			     
	
  </form>
  

