<form action="/tfg" method="post">  
<h1>TASA DE FILTRACIÓN GLOMERURAL </h1> 	
<div class="container-fluid">
	<div class="row-fluid">
	</br>
		<div class="span4">
			<div class="well"> 
				<div class="row">
				  <div class="span3 offset1">Peso</div>
				  <div class="span3"><input placeholder="Kilogramos" type="number" name="peso" 						class="input-mini" min="0" ></div>
				</div>
				
				<div class="row">
				  <div class="span3 offset1">Edad</div>
				  <div class="span4"><input placeholder="Años"type="number" name="anios" 					class="input-mini" min="0"></div>
				<div class="span3"><input placeholder="Meses"type="number" name="meses" 				class="input-mini" min="0"></br></div>
			  	</div>
				
				<div class="row">
				  <div class="span3 offset1">Talla</div>
				  <div class="span3"><input placeholder="Centímetros" type="number"name="talla" 					class="input-mini" min="0"></div>
				</div>
				
				<div class="row">
				  <div class="span4">&nbsp Creatinina</div>
				  <div class="span3"><input placeholder="mg/dL" type="number"name="creatinina" 					class="input-mini" step="0.1" min="0"></br></div>
				</div>
			
  			     Sexo
			     <label class="radio inline">
			     <input type="radio" name="sexo" id="femenino" value="F">
			     Femenino
			     </label>
			     <label class="radio inline">
			     <input type="radio" name="sexo" id="masculino" value="M">
			     Masculino
			     </label></br></br>
			     <button type="submit" class="btn btn-primary">Calcular</button>
		     	   
		    
		     </div>  
	     </div>
	     
	     <div class="span4">
		     <div class="well">
			     Tasa de Filtración Glomerural: 
			     &nbsp&nbsp&nbsp&nbsp&nbsp<h3> </h3>			     
			     
		     </br></br></br></br></br></br></br></br></br></br>
		     
		    
		   <img src='/logo_iatm.png'/>
		   
			  
			     
		     </div>
	    
	    </div>
     </div>
</div>

</form>