<form action="/tfg" method="post">  
	
	
   
	Peso:
  <input placeholder="Kilogramos" type="number" name="peso"></br>
	Edad: 
  <input placeholder="Años"type="number" name="anios">   <input placeholder="Meses"type="number" name="meses"></br>
  
  	talla:
  <input placeholder="Centímetros" type="text"name="talla"></br> 
  	creatinina  
  <input placeholder="mg/dL" type="text"name="creatinina"></br>  
  
  	sexo
	<label class="radio inline">
	  <input type="radio" name="sexo" id="femenino" value="F" checked>
	  Femenino
	</label>
	<label class="radio inline">
	  <input type="radio" name="sexo" id="masculino" value="M">
	  Masculino
	</label>
	<div class="form-actions">
  <button type="submit" class="btn">Calcular</button>
</div>
</form>
